
html{
  font-family: Arial, Geneva, Tahoma, sans-serif;
}
@media (min-width: 601px) {
  .dialogbox{
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .dialogbox{
    overflow: scroll;
  }
}
body{
    background-color: #131314e9;
    margin:0;
    overflow: hidden;
    height: 100vh;
    user-select: none;
    scrollbar-color:  rgb(19, 19, 19)rgb(94, 94, 94);
}
.background{
  background-color: rgb(78, 75, 75);
}
.background-dark{
  background-color: rgb(23, 23, 23);
}
.dropmenu{
  margin:0;
}
.icons{
  cursor: pointer;
  position: absolute;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
  height: 2.5vh;
  padding:0.25vh;
  margin-left: 0.2vw;
  border-radius: 3px;
}
.icons:hover{
  background-color: rgb(198, 194, 194);
  box-shadow: 1px 1px 5px rgb(235, 234, 234) inset;
}
.menu{
  display: flex;
  position: relative;
  color:white;
  width: 100vw;
  height: 3vh;
  z-index: 30;
  border-bottom: 1px solid rgba(0, 0, 0, 0.333);
}
.menuitems{
  cursor: pointer;
  margin-left:3.2vh;
  margin-right: 0.5vw;
  padding: 0.25vh 0.5vh;
  position: relative;
  height: 2.5vh;
  font-size: 14px;
  border-radius: 3px;
}
.menuitems:hover{
  background-color: rgb(65, 64, 64);
  box-shadow: 1px 1px 5px rgb(26, 25, 25) inset;
}
.menuitems-hide{
  margin:0;
}
.menuitems-content{
display: flex;
top:3.1vh;
z-index: 30;
padding-top: 2px;
color:white;
padding-bottom: 2px;
flex-direction: column;
width: 160px;
position: absolute;
border: 1px solid rgba(172, 171, 171, 0.518);
}
.caretright{
  height: 10px;
  margin-top: 4px;
  float:right;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.divider{
  padding:3px 0px;
  cursor: default;
}
.saveasmenu{
  position: relative;
}
.saveasmenu:hover .saveassub{
  display: block;
}
.saveassub{
  display: none;
  position: absolute;
  top:0px;
  left:160px;
}
.adjustmentsmenu{
  position: relative;
}
.adjustmentsmenu:hover .adjustmentsmenusub{
  display: block;
}
.adjustmentsmenusub{
  display: none;
  position: absolute;
  top:-3px;
  left:160px;
}
.hidesubmenu{
  margin:0;
}
.hidesubmenu:hover .saveassub{
  display: none;
}
.contentlist{
  padding:8px 8px 8px 20px;
}
.contentlist:hover{
  background-color: rgba(235, 235, 235, 0.888);
  color: rgba(15, 14, 14, 0.892);
}
.hide{ 
  display: none;
}
.tooloptions{
  width: 100%;
  height: 4vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.333);
}
.tooloptionsflex{
  display: flex;
  margin-left: 40px;
  color:white;
  font-size: 1.7vh;
  gap:4px;
  align-items: center;
  position: relative;
  height: 4vh;
}
.tooloptionicons{
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
  height: 20px;
  width: 20px;
  padding: 2.5px;
  margin-top: 0.25vh;
  margin-left: 0.2vw;
  border-radius: 3px;
}
.tooloptionicons:hover{
  background-color: rgb(198, 194, 194);
  box-shadow: 1px 1px 5px rgb(235, 234, 234) inset;
}
.grid{
  display: grid;
  grid-template-columns: 2vw 82vw 16vw;
  grid-template-rows:max-content;
}
.closebtn{
  cursor: pointer;
  margin-right: 5px;
  font-weight: 500;
  color:rgb(182, 181, 181);
}
.closebtn:hover{
  color:rgb(255, 255, 255);
}
.dialogtitle{
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: space-between; 
  height: 17px;
}
.dialogboxbg{
  z-index: 31;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.008);
}
.dialogbox{
  position:absolute;
  background-color: rgb(68, 66, 66);
  color: rgb(217, 216, 216);
  font-size: 12px;
  border: 1px solid  rgba(172, 171, 171, 0.518);
}
.controls{
  background-color: rgb(34, 34, 34);
  color: rgb(217, 216, 216);
  border: 1px solid  rgba(172, 171, 171, 0.518);
  transition-duration: 0.4s;
  overflow: hidden;
}
.controls:hover{
  border: 1px solid rgb(52, 52, 249);
}
input{
  outline: none;
  font-size: 14px;
}
input:focus{
  border: 1px solid rgb(52, 52, 249);
}
.inputtexttool{
  position: absolute;
  border:0;
  outline: none;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  z-index: 30;
}
.inputtexttool:focus{
  border: 0 solid rgba(255, 255, 255, 0);
}
.flexstyle{
  display: flex;
}
.flexrow{
  display: flex;
  width: auto;
  gap:5px;
  margin:10px 8px;
  align-items: center;
}
.margintb{
  margin-top:8px;margin-bottom:5px
}
.marginlr{
  margin-left:5px;margin-right:5px
}
.document1{
  position: relative;
  background-image: url('./public/img/checker.png');
  background-repeat: repeat;
  box-shadow: 0px 0px 50px black;
  z-index: 1;
}
.canvass{
  position: absolute;
  object-fit:fill;
  object-position: left top;
}
.bringfront{
  z-index: 29;
  position: relative;
}
.projecttitle{
  display: flex;
  gap:2px;
  background-color: #131314e9;
  width:100%;
  height:25px;
}
.documenttitle{
  display: flex;
  font-size: 13px;
  width: 10vw;
  align-items: center;
  margin: 3px 0 3px 3px;
  border-radius: 4px;
  color: rgb(217, 216, 216);
  background-color: rgb(51, 49, 49);
}
.titleborder{
  border: 2px solid  rgba(172, 171, 171, 0.518);
  background-color: rgb(78, 75, 75);
  color: white;
}
.tls{
  flex-direction: column;
  height: 93vh;
}
.tls1{
  width: 2vw;
  height: 2vw;
  position: relative;
  text-align: center;
  color:white;
  cursor: pointer;
  margin-top: 2px;
  border-top-right-radius: 5px;
}
.tlsswap{
  left:1.15vw;
  position: absolute;
  width:0.7vw;
  cursor:pointer;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.tlsimg{
  margin-top:0.3vw;
  height:1.4vw;
  width:1.4vw;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.tls1:hover{
  background-color: rgb(53, 53, 53);
}
.activetool{
  background-color: rgb(53, 53, 53);
}
.tab{
  display: flex;
  gap:2px;
  background-color: #1f1f1f;
  width:100%;
  height:25px;
  box-shadow: 0 0 5px black inset;
}
.historybox{
  display: flex;
  margin-top: 2px;
  height: 36.1vh;
  flex-direction: column;
  overflow:scroll;
  scrollbar-width: thin;
}
.history{
  display: flex;
  align-items: center;
  color:white;
  border-bottom: 2px solid rgb(60, 60, 60);
  align-self:center;
  cursor: pointer;
  height:3.5vh;
  width: 100%;
}
.historyname{
  width:95%;
  padding:1vh;
  font-size: 14px;
  overflow: hidden;
  text-wrap: nowrap;
  height: 3vh;
  margin-left:0.2vw
}
.historyeye{
  margin-left:0.7vw;
  height:1vw;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.activehistory{
  background-color: rgb(114, 114, 114);
}
.layertab{
  display: flex;
  font-size: 14px;
  width: 57px;
  overflow: hidden;
  border-top-right-radius: 4px;
  align-items: center;
  margin-top:5px;
  color: rgb(217, 216, 216);
}
.layerbox{
  display: flex;
  height: 42.1vh;
  flex-direction: column;
  overflow:scroll;
  scrollbar-width: thin;
}
.layeroptions{
  position: absolute;
  bottom:0px;
  right: 0px;
  width: 16%;
  height: 3vh;
  display: flex;
  gap:4%;
  justify-content: flex-end;
  border-top: 2px solid rgb(60, 60, 60);
  z-index: 30;
}
.layeroptionbtn{
  cursor: pointer;
  align-self: flex-end;
  height: 2.5vh;
  width: 2.5vh;
  padding:2px 3px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.layeroptionbtn:hover{
  border-radius: 5px;
  background-color: rgb(198, 194, 194);
  box-shadow: 1px 1px 5px rgb(235, 234, 234) inset;
}
.layer{
  display: flex;
  align-items: center;
  color:white;
  border-bottom: 2px solid rgb(60, 60, 60);
  align-self:center;
  cursor: pointer;
  height:5vh;
  width: 100%;
}
.activelayer{
  background-color: rgb(114, 114, 114);
}
.layereye{
  margin-top:0.4vw;
  margin-left:0.2vw;
  height:1vw;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.layerlink{
  margin-top:0.2vw;
  margin-left:0.2vw;
  border:0;
  height:1vw;
  transform: rotate(90deg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}
.layerpreview{
  margin-top:0.3vw;
  margin-left:0.2vw;
  background-image: url('./public/img/checker.png');
  background-size: 12px 12px;
  background-repeat: repeat;
  height:4vh;
  width:3vw;
}
.layername{
  width:10vw;
  padding:1vh;
  height: 3vh;
  margin-left:0.2vw
}
.cursorimg{
  position: absolute;
  z-index: 31;
  height: 2vw;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(103%) contrast(102%);
}

.transform{
  display: grid;
  background-color: rgba(0, 0, 0, 0.008);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid blue;
}
.transformgridbox{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.transformleftright{
  position: absolute;
  border:2px solid blue;
  background-color: white;
  width:6px;
  height:6px;
}
.transformleftright:hover{
  cursor:e-resize;
}
.transformrightdown{
  position: absolute;
  right:-5px;
  bottom: -5px;
  border:2px solid blue;
  background-color: white;
  width:6px;
  height:6px;
}
.transformrightdown:hover{
  cursor:se-resize;
}
.transformrotate{
  position: absolute;
  right:-5px;
  top: -5px;
  border-radius: 10px;
  border:2px solid blue;
  background-color: white;
  width:6px;
  height:6px;
}
.transformrotate:hover{
  cursor:grab;
}
.transformtopbottom{
  position: absolute;
  border:2px solid blue;
  background-color: white;
  width:6px;
  height:6px;
}
.transformtopbottom:hover{
  cursor:n-resize;
}
.imageborder{
display: none;
position: absolute;
background-color: red;
z-index:31;
}
.shapetoolmenu{
  position: relative;
  display: flex;
  align-items: center;
  padding:3px;
  width: 124px;
  height: 2vh;
  background-color: rgb(33, 33, 33);
  border:1px solid rgb(116, 116, 116);
}
.shapetoolmenu:hover{
  border:1px solid blue;
  background-color: rgb(50, 50, 50);
  box-shadow: 1px 1px 5px rgb(26, 25, 25) inset;
}
#shapetoolmenulist{
  position: absolute;
  z-index: 31;
}